---
import { Package, Star } from '@lucide/astro'

import { formatNumber } from '@/utils/fetchNpmStats'

interface Props {
  npmDownloads?: number
  githubStars?: number
}

const { npmDownloads, githubStars } = Astro.props
---

{npmDownloads !== undefined && npmDownloads > 0 && (
  <span class="badge badge-sm badge-soft badge-primary">
    <Package class="h-3.5 w-3.5 inline align-[-0.125rem]" />&nbsp;{formatNumber(npmDownloads)}/mo
  </span>
)}
{githubStars !== undefined && githubStars > 0 && (
  <span class="badge badge-sm badge-soft badge-warning">
    <Star class="h-3.5 w-3.5 inline align-[-0.125rem]" />&nbsp;{formatNumber(githubStars)}
  </span>
)}
