---
import type { LocaleCode } from '@/utils/i18n'
import { getT } from '@/utils/getT'
import dayjs from 'dayjs'

interface Props {
  locale: LocaleCode
}

const { locale } = Astro.props
const t = getT(locale)
const invasionStartDate = '2022-02-24'
const todayDate = new Date().toISOString().split('T')[0]
const daysSinceInvasion = dayjs(todayDate).diff(invasionStartDate, 'days') + 1
---

<div class="collapse collapse-arrow bg-base-200 shadow-md print:shadow-none">
  <input type="checkbox" />
  <div class="collapse-title font-medium flex items-center gap-2">
    <span class="text-primary dark:text-blue-300">#StandWithUkraine 🇺🇦</span>
  </div>
  <div class="collapse-content">
    <p class="mb-3">{t.supportUkraine.message(daysSinceInvasion)}</p>
    <a
      href="https://war.ukraine.ua/support-ukraine/"
      class="link link-primary"
      target="_blank"
      rel="noopener noreferrer"
    >
      {t.supportUkraine.linkTitle} ↗
    </a>
  </div>
</div>
