---
import type { TimelineItem } from '@dmythro/locales'

import TimelineBlock from './TimelineBlock.astro'

interface Props {
  title?: string
  items: TimelineItem[]
}

const { title, items } = Astro.props
---

<section class="mb-8">
  {title && (
    <h2 class="font-semibold my-6 text-2xl print:break-after-avoid print:break-before-page">
      {title}
    </h2>
  )}
  <ul class="timeline timeline-vertical timeline-compact">
    {items.map((item, i) => (
      <TimelineBlock item={item} isLast={i === items.length - 1} />
    ))}
  </ul>
</section>
