---
import type { TimelineItem } from 'my-locales'
import TimelineBlock from './TimelineBlock.astro'

interface Props {
  title?: string
  items: TimelineItem[]
}

const { title, items } = Astro.props
---

<section class="mb-8">
  {title && (
    <h2 class="font-semibold my-6 text-2xl print:break-after-avoid print:break-before-page">
      {title}
    </h2>
  )}
  <div class="-my-4">
    {items.map((item) => (
      <TimelineBlock item={item} />
    ))}
  </div>
</section>
