---
import type { TimelineItem } from '@dmythro/locales'

import TimelineBlock from './TimelineBlock.astro'

interface Props {
  id?: string
  title?: string
  items: TimelineItem[]
}

const { id, title, items } = Astro.props
---

<div class="mb-8">
  {title && (
    <h3 id={id} class:list={['font-semibold my-6 text-2xl print:break-after-avoid print:break-before-page', id && 'scroll-mt-24']}>
      {title}
    </h3>
  )}
  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
    {items.map((item, i) => (
      <TimelineBlock item={item} index={i} isLast={i === items.length - 1} />
    ))}
  </ul>
</div>
